@tailwind base; 
@tailwind components; 
@tailwind utilities; 

* { 
 margin: 0; 
 padding: 0;
 font-family: NanumSquareOTF; 
 font-size:14px;
 } 
 
 #wrap { 
 width: 100%; 
 height: auto; 
 } 
 
 html,
 body { 
 width: 100%; 
 height: 100%; 
 } 
 
 ul,
 li { 
 list-style: none; 
 } 
 
 input { 
 outline: none; 
 }
 input, select {
  display: block;
 } 
 
 html { 
 font-family: sans-serif; 
 }

 @layer components {
    .div-underline {
      @apply relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:block after:w-full after:h-[2px] after:bg-[#D9D9D9];
    }
  }

  /* Mobile */
  @media (max-width: 640px) {
    html { 
      font-size : 6px; 
      }    
  }

  /* 줄바꿈 시 단어 단위로 처리 */
.no-widow {
  white-space: nowrap;  
  word-break: keep-all;
}